<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>gcoka Playground</title>
    <meta name="description" content="実験的なコードを試す場所です。">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,shrink-to-fit=no">
    <meta name="theme-color" content="#000000">

    <!-- manifest.json provides metadata used when your web app is added to the
      homescreen on Android. See https://developers.google.com/web/fundamentals/engage-and-retain/web-app-manifest/ -->

    <link rel="manifest" href="manifest.json">
    <!-- <link rel="shortcut icon" href="favicon.ico"> -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">

</head>

<body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <main id="root"></main>
</body>
</html>
